<div style="width:80%; margin:0 auto;">
	<h1>Atributos</h1>

 
<table align="center" style="width:80%;" >
		<tr>
			<th style="width:30%;">Nombre</th>
			<th>Descripcion</th>

		</tr>
		<% @p.each do |pro|  %>
		<tr>
		
			<td><b><%= pro.name %></b></td>
			<td><%=pro.description %></td>
			<td><%= link_to "Editar",edit_property_path(pro.id) %></td>
		
		</tr>
		<%end%>
</table>
<br>
	<div class="listado izquierdo">
	    <%= link_to 'Crear Nuevo', new_property_path,:class => "crear" %>
	</div>	


	
</div>
