<div style="width:80%; margin:0 auto;">
 <h1>Proyectos</h1>
<% @p.each do |pro|  %>
	<div class="listado caja">
		<b><%= pro.name %></b>
		<p class="lisp" ><%=pro.description %></p>
		<%= link_to "Editar",edit_project_path(pro.id),:class => "editar" %>
	</div><br>
<%end%>
	<div class="listado izquierdo">
	    <%= link_to 'Crear Nuevo', new_project_path,:class => "crear" %>
	</div>	


	
</div>
