<div style="width:80%; margin:0 auto;">
<h1>Areas</h1>

<% @area.each do |a|  %>
	<div class="listado caja">
		<b><%= link_to a.name,a %></b>
		<p class="lisp"><%= a.description %></p>
		<%= link_to "Editar",edit_area_path(a),:class => "editar" %> 
	</div><br>
<%end%>
<div class=' listado izquierdo'>
	<%= link_to 'Crear Nueva', new_area_path,:class => "crear" %>
</div>
</div>
