<div style="width:80%; margin:0 auto;">
<h1>Areas</h1>
<table align="center" style="font-size:150%;width:80%;" >
	<tr>
		<th>Nombre</th>
		<th>descripcion</th>
	</tr>
<% @area.each do |a|  %>
	<tr>
		<td><b><%= link_to a.name,a %></b></td>
		<td><p class="lisp"><%= a.description %></p></td>
		<td><%= link_to "Editar",edit_area_path(a),:class => "editar" %> </td>
	</tr>
<%end%>
</table>
<div class=' listado izquierdo'>
	<%= link_to 'Crear Nueva', new_area_path,:class => "crear" %>
</div>
</div>
