<div style="width:80%; margin:0 auto;">
<h1>Areas</h1>

<% @area.each do |a|  %>
	<div class="listado caja">
		<b><%= link_to a.name,a %></b>
		
	</div><br>
<%end%>
<div class=' listado izquierdo'>
	<%= link_to 'Crear Nuevo', new_area_path %>
</div>
</div>