<div style="width:80%; margin:0 auto;">
		<h1>Tipo Clientes</h1>

<table align="center" class="normal" id="myTable"  >
<thead>
	<tr>
		<th>Nombre</th>
		<th>descripcion</th>
	</tr>
</thead>
<tbody>

	<% @tc.each do |type|  %>
		<tr>
			<td><%= link_to type.name,type %></td>
			<td><%=type.description %></td>
		</tr>
	<%end%>
</tbody>
</table>
<div class='listado izquierdo'>
	<%= link_to 'Crear Nuevo', new_type_client_path %>
</div>
</div>
<script type="text/javascript">
$(function(){
  $("#myTable").tablesorter();
});
</script>
